* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.block {
    width: 80%;
    margin: 1rem auto;
    border: 1px solid #000;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: #f8f6a9;
}
.btn {
    padding: 0.5rem 1.5rem;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0.3rem;
    font-size: 1rem;
}
.btn-submit {
    background-color: #8cc969;
    color: #fff;
}
p {
    padding: 1rem 0;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.active {
    background-color: #b8f1e8;
}
div.active + div>h3 {
    text-decoration: underline;
}
div.active + div>p {
    text-transform: uppercase;
}